In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. version of NumPy
np.__version__

'1.20.3'

In [3]:
# Read data
df = pd.read_csv('d:/Coding/MLZoomcamp/Week1/data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
# 2. Display some info about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [5]:
# 3. Most popular car manufacturers
df.groupby('Make').size().sort_values(ascending=False).head(3)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
dtype: int64

In [6]:
# 4. Number of unique Audi models
df[df.Make == 'Audi'].Model.nunique()

34

In [7]:
# 5. columns in the dataset with missing values
(df.isnull().sum() != 0).sum()

5

In [8]:
# 6. median value of "Engine Cylinders"
engCylMed = df['Engine Cylinders'].median()
engCylMed

6.0

In [9]:
# Most frequent value of "Engine Cylinders"
engCylMF = df['Engine Cylinders'].mode()[0]
engCylMF

4.0

In [10]:
# Fill missing values with most frequent value
df['Engine Cylinders'].fillna(engCylMF, inplace=True)

In [11]:
# median value of "Engine Cylinders"
engCylMed = df['Engine Cylinders'].median()
engCylMed

6.0

In [16]:
# 7. Weights calculation - Linear Regression
X = df[df.Make == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates().values
XTX = X.T.dot(X)
XTXInv = np.linalg.inv(XTX)
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = XTXInv.dot(X.T).dot(y)
w[0].round(4)

4.5949